/*setting up styling for all css*/
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    text-align: center;
}
/*styling for elements inside the body*/
.body{
    padding: 10px;
    margin:auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    max-width: 40%;
    background-color:white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-styling{
    display:grid;
    gap: 10px;
    margin: 20px 0;

}
.btn{
    background-color: purple;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover {
    border-color: black;
}
#start, #next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
h3 {
    justify-content: center;
    font-size: 16px;
}