/*setting up styling for all css*/
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    text-align: center;
}
/*styling for elements inside the body*/
.body{
    padding: 10px;
    margin:auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    max-width: 40%;
    background-color:white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    align-items: center;
    -moz-box-align: center;
}


.btn-styling{
    display:grid;
    margin: 20px 0;

}
.btn{
    background-color: purple;
}
